[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudscraper = "*"
dateparser = "*"
requests = "*"
tqdm = "*"
openpyxl = "*"
pyexcel = "*"
pyexcel-xls = "*"
python-dotenv = "*"
yfinance = "*"
investpy = "*"
PyPDF2 = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.9"
